@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --black-gray: #111;
    --white: #FFF;
    --gray: #999;
    --pure-black: #000
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black-gray);
    color: var(--white);
    font-family: 'Roboto',sans-serif;
}

.lists {
    margin-top: -100px;
}

footer {
    margin: 50px 0px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--gray);
    font-weight: 300;
}

footer a:hover {
    color: var(--white);
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    background-color: var(--pure-black);
    display: flex;
    justify-content: center;
    align-items: center;
}